@font-face {
  font-family: Proxima Nova Semibold;
  src: url(/fonts/ProximaNova-Semibold.woff);
  font-display: swap;
}

@font-face {
  font-family: Proxima Nova Regular;
  src: url(/fonts/ProximaNova-Regular.woff);
  font-display: swap;
}

.mainContainer {
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}

.icon {
  height: 27px;
  width: 27px;
  margin: 0.25rem 0.5rem 0 0;
}

.textContainer {
  .header {
    font-family: Proxima Nova Regular;
    font-size: 1.125rem;
    color: rgba(255, 255, 255, 0.9);
  }
  .description {
    font-family: Proxima Nova Regular;
    font-size: 1rem;
    color: #fff8;
  }
}
