.navbar {
  border-radius: 0;
}

.text {
  width: 30%;
  margin-top: 2rem;
}

.wrapper {
  padding: 2rem 10rem;
  width: 100%;
  background-color: black;
}
.heading1 {
  width: 80%;
  margin-top: 1rem;
}
.hero {
  margin-top: 2rem;
}

.lower {
  width: 100%;
}
.lower h2 {
  width: 50%;
}
.left {
  width: 50%;
}
