.text {
  width: 30%;
  margin-top: 2rem;
}

.wrapper {
  padding: 2rem 10rem;
  width: 100%;
  background-color: #1b1c25;
}
.heading1 {
  width: 80%;
  margin-top: 1rem;
}
.hero {
  /* width: 100%; */
  margin-top: 2rem;
}
.heroskeleton {
  background-color: #f9f2ed;
}
.heroskeleton::after {
  background-color: #2233cb;
}
.lower {
  width: 100%;
}
.lower h2 {
  width: 50%;
}
.left {
  width: 50%;
}

.last {
  width: 70%;
}
